<div class="kart-card">
  <div class="kart-info">
    <kman-kart-info [kartInfo]="getKartInfo(data)" />
  </div>
  <div class="horizontal-flex">
    <div class="laps-summary">
      <kman-stint-summary [laps]="data.laps" />
      <div [ngClass]="{ hidden: hideControls }">
        <button class="slim-btn invalidate-btn" style="width: 100px; margin-top: 5px" (click)="invalidateLap()">
          Invalidate lap
        </button>
      </div>
    </div>
    <div class="laps-row">
      <kman-stint-laps [laps]="data.laps" />
    </div>
  </div>
</div>
