<div class="statistics-container">
  <p class="statistics-line">Batumi Karting</p>
  @if (totalLaps$ | async; as totalLaps) {
    <div style="display: flex; flex-direction: row; justify-content: center; column-gap: 10px">
      <p class="statistics-line statistics-addition" style="visibility: hidden">(since June 2024)</p>
      <p class="statistics-line">{{ totalLaps | number: '2.0' }} laps driven</p>
      <p class="statistics-line statistics-addition">(since June 2024)</p>
    </div>
  }
</div>
