@import '../../shared.scss';

.statistics-container {
  text-align: center;
  margin: 10px 0;
}

.statistics-line {
  margin: 0;
  padding: 0;
}

.statistics-addition {
  font-size: 0.8rem;
  color: $unimportantColor;
  cursor: default;
}
